    /* THE RAW COLORS USED FOR THE ASA.JPG INCASE OF EMERGENCY */

    --background: #111010;
    --foreground: #e7e6e6;
    --cursor: #e7e6e6;
    --color0: #111010;
    --color1: #8C897C;
    --color2: #7D8383;
    --color3: #8F928C;
    --color4: #AAAAA3;
    --color5: #342717;
    --color6: #D2D1D2;
    --color7: #e7e6e6;
    --color8: #a1a1a1;
    --color9: #8C897C;
    --color10: #7D8383;
    --color11: #8F928C;
    --color12: #AAAAA3;
    --color13: #C7BCAE;
    --color14: #D2D1D2;
    --color15: #e7e6e6;
